// ‰»Î
NET "SW[2]" LOC = V9;		//SW2
NET "SW[1]" LOC = T9;		//SW1
NET "SW[0]" LOC = T10;		//SW0
NET "clk_100MHz" 	LOC = V10;		//100MHz
NET "Step_BTN" 	LOC = D9;		//BTNR
NET "rst" 	LOC = C4;		//BTNL
// ‰≥ˆ
NET "LED[7]" LOC = T11;		//LED7
NET "LED[6]" LOC = R11;		//LED6
NET "LED[5]" LOC = N11;		//LED5
NET "LED[4]" LOC = M11;		//LED4
NET "LED[3]" LOC = V15;		//LED3
NET "LED[2]" LOC = U15;		//LED2
NET "LED[1]" LOC = V16;		//LED1
NET "LED[0]" LOC = U16;		//LED0
